<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectString" connectionString="Data Source=localhost:1521/orcl;User Id=nvbang98;Password=nvbang;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!---->
    <add key="pageSize" value="5"/>

    <!--config up file-->
    <add key="username" value="theanhnb97"/>
    <add key="password" value="123456a@"/>
    <add key="defaultFolder" value="hinhanh"/>
    <add key="domain" value="theanhnb97.000webhostapp.com"/>
    <add key="host" value="files.000webhost.com/public_html"/>
    <!--config size File-->
    <add key="sizeFile" value="6291456"/>
    <!--<add key="sizeFile" value="291456"/>-->
  </appSettings>
</configuration>
