<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectString" connectionString="Data Source=192.168.35.210:1521/orcl;User Id=gdp;Password=theanh;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="ConnectString" connectionString="DATA SOURCE=192.168.35.210:1521/orcl;PASSWORD=theanh;PERSIST SECURITY INFO=True;USER ID=GDP" />
    <add name="Main.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=192.168.35.210:1521/orcl;USER ID=GDP"
      providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
</configuration>
